@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Modal Base Styles */
.modal {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.9s ease, visibility 0.3s ease;
  }

  /* When modal is active */
  .modal.show {
    opacity: 1;
    visibility: visible;
  }

  /* Modal background for fade-in effect */
  .modal-bg {
    background-color: rgba(0, 0, 0, 0.6);
    transition: background-color 0.3s ease;
  }

  /* Smooth transition for modal content */
  .modal-content {
    transform: scale(0.9);
    transition: transform 0.3s ease;
  }

  /* When modal content is active */
  .modal.show .modal-content {
    transform: scale(1);
  }